<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Results</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="title-container">
        <h1>Results</h1>
    </div>
	
    <div id="body-container">
        <p><strong>Address:</strong> <%= applicationData.address %></p>
        <p><strong>Property Type:</strong> <%= applicationData.propertyType %></p>
        <p><strong>Number of Beds:</strong> <%= applicationData.beds %></p>
        <p><strong>Number of Baths:</strong> <%= applicationData.baths %></p>
        <p><strong>Minimum Sqft:</strong> <%= applicationData.sqftMin %></p>
        <p><strong>Maximum Sqft:</strong> <%= applicationData.sqftMax %></p>
        <br>
        <p><strong><u>Value!!!!</u></strong> </p>
    </div>

</body>

</html>